html,
body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white; /* Optional: improves visibility */
  font-family: var(--font-geist-sans), var(--font-inter);
  overflow-x: hidden;
}

#__next {
  background-color: black; /* prevent white flash from Next.js root */
}
